// You custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

body {
  background: url('../images/wild_oliva.png') #3D3D3D;
}

#main {
  @include border-radius(4px, 4px);
  margin-top: 30px;
  margin-bottom: 30px;
  background: url('../images/cream_dust.png') #FAFAFA;

  header {
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: 14px;
    h1, h2 {
      margin-top: 0;
      margin-bottom: 0;
    }
    h1 {
      font-family: 'Arvo', serif;
      font-weight: bold;
      font-size: 400%;
    }
    h2 {
      font-size: 150%;
    }
  }

  .sidebar {
    border-left: 1px solid #CCC;

    h3 {
      font-size: 120%;
      margin-top: 0;
    }

    .side-nav {
      padding-top: 0;
    }
  }

  footer {
    font-size: 90%;
    border-top: 1px solid #CCC;
    margin-top: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

.booklist {
  .book-title {
    font-weight: bold;
    text-decoration: underline;
  }
  .book-author, .book-description {
    color: #666;
  }
}

.row .alerts {
  margin-bottom: 28px;
}
